<html>
	<head>
		<title>Prueba Node</title>

	</head>
	<body>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../librerias/jquery-3.3.1.min.js"></script>
		<script type="text/javascript"  src="ajax_methods.js"> </script>

		<script type="text/javascript">
			// sendTags();
			// signup();
			// login();
			getTracks();
			// beforeVote();
			// vote();
			// addFavoriteTrack();
			// dropFavoriteTrack();
			// getUserPlaylist();
			// beforeMoods();
			// voteMood();
			// getTags();
		</script>



	</body>
</html>
