<html>

<head>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      /*display: flex;*/
      /*align-items: center;*/
      /*justify-content: center;/*/
    }

    .colorDiv {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin: 10px;
      line-height: 6.5;
      text-align: center;
      color: rgba(16, 16, 16, 0.65);
      float: left;
    }
  </style>
  <!-- randomColor -->
  <script type="text/javascript" src="librerias/randomColor.min.js"></script>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="colorCanvas"></div>

  <script>
    // var light = randomColor({
    //   luminosity: 'light',
    //   count: 4
    // });
    //
    // var bright = randomColor({
    //   luminosity: 'bright',
    //   count: 4
    // });
    //
    // for (let i = 0; i < light.length - 1; i++) {
    //   var border = randomColor({
    //     hue: light[i],
    //     luminosity: 'light',
    //     count: 1
    //   });
    //   console.log('<DIV id="light' + i + '" class="colordiv"></DIV>');
    //   var $div = $('<DIV id="light' + i + '" class="colordiv"></DIV>');
    //   $('#colorCanvas').append($div)
    //   $('#light' + i)
    //     .addClass('light')
    //     .css("background-color", light[i])
    //     .css("border", "4px solid" + border)
    //     .html(light[i])
    // };

    var i = 0;

    function createBubble(hue) {
      var main = randomColor({
        hue: hue,
        luminosity: 'light',
        count: 1
      });
      var hue = main[0];
      console.log(hue);
      var border = randomColor({
        hue: hue,
        luminosity: 'light',
        count: 1
      });
      console.log(hue);
      var $div = $('<DIV id="light' + ++i + '" class="colordiv" /></DIV>');
      console.log($div);
      $('#colorCanvas').append($div)
      $('#light' + i)
        .addClass('light')
        .css("background-color", hue)
        .css("border", "4px solid" + border)
        .html(hue + " ")
        .click(createBubble(hue))
      // .append(border)
    };

    createBubble('#f7afcb');

    // $('.colordiv').css("color", "rgba(16,16,16,0.65)");
  </script>
</body>

</html>
