<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Moosic</title>
  <!-- Icon title -->
  <link rel="shortcut icon" type="image/x-icon" href="http://192.168.1.18:8888/public/img/cow-icon-32.png" />
  <!-- Material Icons -->
  <link href="http://192.168.1.18:8888/public/materialicons.css" rel="stylesheet">
  <!-- go.js -->
  <script src="http://192.168.1.18:8888/public/go-debug.js"></script>
  <!-- randomColor -->
  <script type="text/javascript" src="http://192.168.1.18:8888/public/randomColor.min.js"></script>
  <!-- font-awesome -->
  <link rel="stylesheet" href="http://192.168.1.18:8888/public/fontawesome-all.min.css">
  <!-- WavesSurfer -->
  <script src="http://192.168.1.18:8888/public/wavesurfer.min.js"></script>
  <!-- Google font-->
  <link href="http://192.168.1.18:8888/public/roboto.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://192.168.1.18:8888/public/bootstrap.min.css">
  <script src="http://192.168.1.18:8888/public/jquery.min.js"></script>
  <script src="http://192.168.1.18:8888/public/bootstrap.min.js"></script>
  <!-- js extern file -->
  <script type="text/javascript" src="http://192.168.1.18:8888/public/index.js"></script>
  <script type="text/javascript" src="http://192.168.1.18:8888/public/go_colors.js"></script>
  <script type="text/javascript" src="http://192.168.1.18:8888/public/methods.js"></script>
  <!-- css extern file -->
  <link rel="stylesheet" type="text/css" href="http://192.168.1.18:8888/public/styles.css" media="screen" />
  <script>
    var bgArray = [];
    bgArray.push('public/BG/BG_purple_arabtile.png');
    bgArray.push('public/BG/BG_blue_waves.png');
    bgArray.push('public/BG/BG_pink_wallpaper.png');
    bgArray.push('public/BG/BG_green_scales.png');
    bgArray.push('public/BG/BG_white_boplay3.png');

    $(document).ready(function() {
      const index = Math.floor(Math.random() * bgArray.length);
      $('body').css("background-image", "url(" + bgArray[index] + ")");
    });
  </script>
</head>

<body>
  <!-- No slide menu -->
  <span id="icon-open" class="glyphicon glyphicon-menu-hamburger" onclick="openNavMenu()"></span>
  <!-- gojs -->
  <div id="myDiagramDiv"></div>
  <div id="mySidenavBg" class="sidenav-bg"></div>
  <!-- Slide Menu -->
  <!-- Slide Login Menu-->
  <div id="mySidenavLogin" class="sidenav">
    <div id="container" class="container text-center">
      <!-- Icon Close -->
      <div class="row">
        <div class="col-md-12">
          <a class="glyphicon glyphicon-remove closebtn" onclick="closeNav()"></a>
        </div>
      </div>
      <!-- Title -->
      <div class="row container-form">
        <div class="col-md-12">
          <h1>Login</h1>
        </div>
      </div>
      <!-- Form Login -->
      <div class="row">
        <div class="col-md-12">
          <form id="loginForm" class="inputForm" method="POST">
            <div id="emailLoginDiv" class="form-group ">
              <input id="email" type="text" class="form-control" name="email" title="Please enter your email" placeholder="Email" required/>
              <span class="help-block"></span>
            </div>
            <div id="passwordLoginDiv" class="form-group">
              <input id="password" type="password" class="form-control" name="password" title="Please enter your password" placeholder="Password" required/>
              <span class="help-block"></span>
            </div>
            <div id="loginErrorMsg" class="alert alert-danger hide">Wrong username or password</div>
            <div id="loginErrorEmptyFields" class="alert alert-danger hide">Empty fields</div>
            <!-- <div id="loginErrorUserNotExist" class="alert alert-danger hide">This user does not exist.</div> -->
            <button id="signin" type="button" class="btn btn-primary btn-block"><strong>Sign in</strong></button>
          </form>
          <div id="notRegisted" onclick="openNavRegister()">
            <a id="registerLink" href="javascript:void(null)">Not registered? Sign Up!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slide Register Menu-->
  <div id="mySidenavRegister" class="sidenav">
    <div id="container" class="container text-center">
      <!-- Icon Close -->
      <div class="row">
        <div class="col-md-12">
          <a class="glyphicon glyphicon-remove closebtn" onclick="closeNav()"></a>
        </div>
      </div>
      <!-- Title -->
      <div class="row container-form">
        <div class="col-md-12">
          <h1>Register</h1>
        </div>
      </div>
      <!-- Form Register -->
      <div class="row">
        <div class="col-md-12">
          <form id="registerForm" class="inputForm" method="POST">
            <div id="nameDiv" class="form-group col-md-5 col-sm-5">
              <input id="name" type="text" class="form-control" name="username" title="Please enter your name" placeholder="Name" required/>
            </div>
            <div id="lastnameDiv" class="form-group col-md-7 col-sm-7">
              <input id="lastname" type="text" class="form-control" name="lastname" title="Please enter your Last name" placeholder="Last name" required/>
            </div>
            <div id="usernameDiv" class="form-group col-md-12 col-sm-12">
              <input id="username-signup" type="text" class="form-control" name="name" title="Please enter your username" placeholder="Username" required/>
            </div>
            <div id="emailDiv" class="form-group col-md-12 col-sm-12">
              <input id="email-signup" type="text" class="form-control" name="email" title="Please enter your email" placeholder="Email" required/>
            </div>
            <div id="passwordDiv" class="form-group col-md-12 col-sm-12">
              <input id="password-signup" type="password" class="form-control" name="password" title="Please enter your password" placeholder="Password" required/>
            </div>
            <div id="repeatPasswordDiv" class="form-group col-md-12 col-sm-12">
              <input id="repeat-password" type="password" class="form-control" name="repeat-password" title="Please repeat your password" placeholder="Repeat Password" required/>
            </div>
            <div class="form-group col-md-12 col-sm-12">
              <select id="sex" class="form-control">
                <option value="h">Man</option>
                <option value="m">Woman</option>
              </select>
            </div>
            <!-- <div class="form-group">
              <input id="agreeTerms" type="checkbox" required>
              <label class="form-check-label" for="invalidCheck3">Agree to terms and conditions</label>
            </div> -->
            <div class="form-group col-md-12 col-sm-12">
              <div id="loginErrorMsgRepeatPass" class="alert alert-danger hide">The passwords are not identical.</div>
              <div id="loginErrorMsgEmptyFills" class="alert alert-danger hide">Empty fields.</div>
              <!-- <div id="loginErrorMsgAgreeTerms" class="alert alert-danger hide">You must agree before submitting.</div> -->
              <div id="loginErrorMsgUserAlreadyExists" class="alert alert-danger hide">User already exists</div>
              <div id="loginErrorMsgUserCouldntBeRegister" class="alert alert-danger hide">User couldn't be register</div>
              <button id="signup" type="button" class="btn btn-primary btn-block"><strong>Sign up</strong></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Slide Track Menu -->
  <div id="mySidenavTrack" class="sidenav">
    <div id="container" class="container text-center">
      <!-- Icon Close -->
      <div class="row">
        <div class="col-md-12">
          <a class="glyphicon glyphicon-remove closebtn" onclick="closeNavTrack()"></a>
        </div>
      </div>
      <!-- Title -->
      <div class="row">
        <div class="col-md-12">
          <h1>moosic</h1>
        </div>
      </div>
      <!-- Artwork, next Song, Back Song -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <img id="artwork" class="artwork-track" src=""></img>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p id="nameSong"></p>
          <h4 id="artistName"></h4>
        </div>
      </div>
      <!-- Buttons Track -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <span id="backward" class="fa fa-step-backward icon-track first-icon hide"></span>
          <span id="play" class="fa fa-play icon-track hide"></span>
          <span id="pause" class="fa fa-pause icon-track hide"></span>
          <span id="forward" class="fa fa-step-forward icon-track hide"></span>
          <span id="like" class="fa fa-heart icon-like hide"></span>
        </div>
      </div>
      <!-- Wavesform -->
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-sm-10 col-xs-10 waveform">
          <div id="audio-spectrum" class="hide"></div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1"></div>
      </div>
      <div id="promptTags" class="prompt hide">
        <form id="formTags">
          <input id="pop" type="checkbox" value="pop">Pop</input>
          <input id="rock" type="checkbox" value="rock">Rock</input>
          <input id="trap" type="checkbox" value="trap">Trap</input>
          <input id="submitTags" type="button" value="READY!" />
        </form>
      </div>
      <div class="row text-center">
        <div id="loginMenuDiv" class="col-md-12 col-sm-12">
          <h4 id="loginMenuLink" class="linkmenu" onclick="openNavLogin()">login</h4>
          <button id="yourMoosic" class="btn btn-primary hide" hide>
            <h4 class="linkmenu" onclick="openNavPlaylist()"><span id="like2" class="fa fa-heart"></span> Favoorite moosics</h4>
          </button>
          <h5 id="usernameMenu" class="linkmenu hide"></h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Slide Playlist Menu -->
  <div id="mySidenavPlaylist" class="sidenav">
    <div class="container">
      <!-- Icon Close -->
      <div class="row">
        <div class="col-md-12">
          <a class="glyphicon glyphicon-remove closebtn" onclick="closeNav()"></a>
        </div>
      </div>
      <!-- Title -->
      <div class="row">
        <div class="col-md-12">
          <h1>Playlist</h1>
        </div>
      </div>
      <!-- WavesForm -->
      <div class="col-lg-1 col-sm-1 col-xs-1"></div>
      <div class="col-lg-10 col-sm-10 col-xs-10 waveform">
        <div id="audio-spectrum2" class="hide"></div>
      </div>
      <div class="col-lg-1 col-sm-1 col-xs-1"></div>
      <!-- Table Playlist -->
      <div class="row">
        <div class="col-md-12">
          <table id="playlist-table" class="table table-dark">
            <tr>
              <th>Artwork</th>
              <th>Name</th>
              <th>Artist</th>
              <th></th>
              <th></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
